{% extends 'main_layout.twig' %}

{% block navibar %}
    {{ include('navibar.twig') }}
{% endblock %}

{% block content %}
    {{ include('members_register_title_add.twig') }}
    <form action="/calvary-web-2/members/register/add" method="post">
        <table class="form-table">
            <tr>
                <td>아이디: </td>
                <td><input type="text" class="form-control" placeholder="" id="member_id" name="member_id" value="{{ input_info.id }}"></td>
            </tr>
            <tr>
                <td>이름: </td>
                <td><input type="text" class="form-control" placeholder="" id="member_name" name="member_name" value="{{ input_info.name }}"></td>
            </tr>
            <tr>
                <td>파트: </td>
                <td>
                    <select class="form-control" id="member_part" name="member_part">
                        <option {% if input_info.part == 1 %} selected {% endif %}>소프라노A</option>
                        <option {% if input_info.part == 2 %} selected {% endif %}>소프라노B</option>
                        <option {% if input_info.part == 3 %} selected {% endif %}>소프라노B+</option>
                        <option {% if input_info.part == 4 %} selected {% endif %}>알토A</option>
                        <option {% if input_info.part == 5 %} selected {% endif %}>알토B</option>
                        <option {% if input_info.part == 6 %} selected {% endif %}>테너</option>
                        <option {% if input_info.part == 7 %} selected {% endif %}>베이스</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>직분: </td>
                <td>
                    <select class="form-control" id="member_church_staff" name="member_church_staff">
                        <option {% if input_info.church_staff == 1 %} selected {% endif %}>성도</option>
                        <option {% if input_info.church_staff == 2 %} selected {% endif %}>집사</option>
                        <option {% if input_info.church_staff == 3 %} selected {% endif %}>안수집사</option>
                        <option {% if input_info.church_staff == 4 %} selected {% endif %}>권사</option>
                        <option {% if input_info.church_staff == 5 %} selected {% endif %}>장로</option>
                        <option {% if input_info.church_staff == 6 %} selected {% endif %}>전도사</option>
                        <option {% if input_info.church_staff == 7 %} selected {% endif %}>목사</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>파트장 여부: </td>
                <td>
                    <select class="form-control" id="member_calvary_staff" name="member_calvary_staff">
                        <option {% if input_info.calvary_staff == 1 %} selected {% endif %}>대원</option>
                        <option {% if input_info.calvary_staff == 2 %} selected {% endif %}>파트장</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>상태: </td>
                <td>
                    <select class="form-control" id="member_state" name="member_state">
                        <option {% if input_info.member_state == 1 %} selected {% endif %}>정대원</option>
                        <option {% if input_info.member_state == 2 %} selected {% endif %}>솔리스트</option>
                        <option {% if input_info.member_state == 3 %} selected {% endif %}>신입</option>
                        <option {% if input_info.member_state == 4 %} selected {% endif %}>임시</option>
                        <option {% if input_info.member_state == 5 %} selected {% endif %}>특별</option>
                        <option {% if input_info.member_state == 6 %} selected {% endif %}>휴식</option>
                        <option {% if input_info.member_state == 7 %} selected {% endif %}>제적</option>
                        <option {% if input_info.member_state == 8 %} selected {% endif %}>은퇴</option>
                        <option {% if input_info.member_state == 9 %} selected {% endif %}>명예</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>날짜: </td>
                <td><input type="date" name="member_state_date" value="{{ input_info.member_state_date }}"></td>
            </tr>
            <tr>
                <td></td>
                {% if message != 'fail' %}
                <td><a class="btn btn-outline-primary btn-sm" href="/calvary-web-2/members/register/{{ input_info.id }}" role="button">수정</a></td>
                {% endif %}
            </tr>
        </table>
    </form>
    {% if message == 'fail' %}
    <div class="alert alert-danger">
        <strong>에러!</strong> 대원 등록 실패하였습니다. 확인 후 다시 시도해 주세요.
    </div>
    {% endif %}
    {% if message == 'success' %}
    <div class="alert alert-success">
        <strong>성공!</strong> 대원이 성공적으로 등록되었습니다.
    </div>
    {% endif %}
    {% if message == 'warning' %}
    <div class="alert alert-warning">
        <strong>경고!</strong> 같은 파트에 동일한 이름이 이미 등록되어 있습니다. 동명이인이 아니라면 이름 확인 후 정보 수정 바랍니다.
    </div>
    {% endif %}
{% endblock %}
